@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeMove {
  0% {
    background-position: 0px 0px;
    opacity: 1;
  }

  100% {
    background-position: 30px -30px;
    opacity: 1;
  }
}

@keyframes maskAnimation {
  0% {
    mask-position: 100% 0%;
  }

  100% {
    mask-position: 0% 0%;
  }
}

.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 30vw;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  --mask: linear-gradient(red, rgba(0, 0, 0, 0.45));
  background-image: radial-gradient(#6a01b52d 1px, rgba(0, 0, 0, 0.05) 3px, transparent 10px);
  background-size: 30px 30px;
  background-position: -5px -5px;
  animation: fadeMove 2s linear infinite;
  user-select: none;
}

.container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(#000, transparent) 0 0/1em 1em space;
  content: "";
  animation: fadeMove 2s linear infinite, maskAnimation 2s linear infinite;
}

.container-top {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3vw;
  margin-inline: 2vw;
  height: 5vw;
}

.container-mobile-top-left {
  display: none;
}

.container-top-left {
  color: rgb(156, 156, 156);
  font-size: var(--font-size-7);
  font-family: "Prompt";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.section-btn {
  position: relative;
  margin: 0vw 2vw;
  overflow: hidden;
  cursor: pointer;
  pointer-events: all;
  transition: font-size 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 0.5s ease;
}

.section-btn::after{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  filter: blur(0px);
  width: 100%;
  height: 100%;
  display: flex;
  mix-blend-mode: overlay;
  background-color: rgba(255, 255, 255, 0.845);
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-property: filter, left, width;
}

.section-btn:hover::after {
  width: 100%;
  left: 0%;
  filter: blur(20px);
}

.section-btn.active {
  font-size: var(--font-size-14);
  font-weight: 400;
  color: white;
}

.container-top-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-btn {
  position: relative;
  display: none;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: var(--font-size-13);
  font-weight: 500;
  padding: 0.5vw 2vw;
  background: transparent;
  color: rgba(255, 255, 255, 0.757);
  border: 0.1vw solid rgba(255, 255, 255, 0.873);
  border-radius: 2vw;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease, border 0.3s ease;
}

.display-btn.active {
  display: flex;
}

.display-btn:hover {
  color: rgb(255, 255, 255);
  border: 0.1vw solid rgb(255, 255, 255);
}


.container-bottom {
  position: relative;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-bottom-left {
  position: relative;
  width: 10vw;
  height: 18vw;
  transform: translate(15vw);
  z-index: 11;
}

.container-svg {
  position: absolute;
  fill: rgb(63, 63, 63);
  opacity: 0;
  transition: opacity 0.5s, fill 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.container-svg.active {
  opacity: 1;
  fill: aliceblue;
}

#annocument-svg {
  width: 12vw;
}

#recent-svg {
  width: 16vw;
}

#ongoing-svg {
  width: 17vw;
}

.container-bottom-right {
  position: relative;
  width: 60vw;
  height: 19vw;
  margin-left: 0vw;
  margin-right: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: translate(0%);
}

.swiper {
  width: 60vw;
  height: 60vw;
  transform: scale(1.05);
}

.swiper-slide {
  width: 15vw;
  height: 20vw;
  text-align: center;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
  align-items: center;
  cursor: grab;
}

.swiper-wrapper:has(.no-new-event-div) {
  cursor: default;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 2vw;
  position: absolute;
  width: 4vw;
  height: 4vw;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  border-radius: 50%;
  color: rgb(95, 95, 95);
  background-color: rgb(230, 230, 230);
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: color, background-color, width, height, left, transform, opacity;
}

.swiper-button-prev {
  left: 5vw;
  box-shadow: -11vw 0px 2vw 11vw rgb(0, 0, 0);
}

.swiper-button-next {
  box-shadow: 11vw 0px 2vw 11vw rgb(0, 0, 0);
}

.swiper-button-prev:hover {
  left: 6vw;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  width: 4.5vw;
  height: 4.5vw;
  color: black;
  background-color: white;
}

.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled:hover,
.swiper-button-next.swiper-button-disabled:hover {
  color: rgba(77, 77, 77, 0);
  background-color: rgba(230, 230, 230, 0);
}

.swiper-button-prev.swiper-button-disabled {
  transform: translate(-60%, -50%);
}

.swiper-button-next.swiper-button-disabled {
  transform: translate(-40%, -50%);
}

.swiper-gradient-right,
.swiper-gradient-left {
  --gradient-color: black;
  position: absolute;
  top: 0;
  width: 10vw;
  height: 100%;
  filter: blur(5px);
  z-index: 2;
}

.swiper-gradient-left {
  left: 0%;
  background-image: linear-gradient(to right, var(--gradient-color) 60%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0));
}

.swiper-gradient-right {
  right: 0%;
  background-image: linear-gradient(to left, var(--gradient-color) 60%, rgba(0, 0, 0, 0));
}

.e-card {
  position: relative;
  width: 15vw;
  height: 18vw;
  border-radius: 1vw;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 40vw;
  height: 50vw;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
  pointer-events: none;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 90%;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}


.e-card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
}

.e-card-content h2,
.r-card-type,
.s-card-tittle {
  position: relative;
  font-family: "Noticia Text", serif;
  font-style: normal;
}


.e-card-content h2 {
  font-weight: 400;
  font-size: var(--font-size-15);
  text-wrap: wrap;
  margin-top: 3vw;
  margin-bottom: 0.8vw;
}

.r-details,
.s-details,
.e-details {
  color: black;
  background-color: white;
  overflow: scroll;
  scrollbar-width: none;
  pointer-events: all;
  border-top-left-radius: 2vw;
  border-top-right-radius: 1vw;
}

.r-details,
.s-details {
  position: relative;
  top: 1vw;
  height: 11.9vw;
}

.e-details {
  height: 12.3vw;
  padding-top: 0.5vw;
}

.s-details {
  border-top-left-radius: 1vw;
  border-bottom: 0.2vw solid rgb(0, 0, 0);
  border-left: 0.1vw solid rgb(0, 0, 0);
  border-right: 0.1vw solid rgba(0, 0, 0, 0.46);
}

.e-card-date,
.e-card-time,
.e-card-venue,
.r-details h2 {
  font-family: "Cormorant Infant", serif;
  font-weight: 300;
  font-style: normal;
}

.r-details h2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 5vw;
  padding: 0.9vw 1.1vw 0vw;
  font-size: var(--font-size-3);
  padding-bottom: 1vw;
}

.e-card-date,
.e-card-time,
.e-card-venue {
  font-size: var(--font-size-13);
  padding-left: 1.4vw;
  padding-block: 0.2vw;
  text-align: left;
}

.e-card-date i,
.e-card-time i,
.e-card-venue i {
  margin: 0vw 0.5vw;
}

.e-card-date span:nth-child(2),
.e-card-venue span:nth-child(2),
.e-card-time span:nth-child(2) {
  font-size: var(--font-size-3);
  font-weight: 600;
}

.e-card-description,
.r-card-description,
.s-card-description {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

.e-card-description,
.r-card-description {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top-right-radius: 1vw;
  border-top-left-radius: 1vw;
  background-color: black;
  color: white;
  font-size: var(--font-size-16);
}

.e-card-description {
  min-height: 5.6vw;
  margin-top: 1vw;
  padding: 1vw 1vw;
}

.r-card-description {
  padding: 1vw 0.7vw 2vw 0.7vw;
  min-height: 6vw;
  line-height: 1.47vw;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.s-card-description {
  font-size: var(--font-size-17);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding: 0.5vw 1.1vw 0vw 1.1vw;
  overflow: hidden;
  color: rgb(79, 79, 79);
}

.e-overlay,
.r-card-overlay {
  position: fixed;
  left: 0;
  border-bottom: 0.2vw solid white;
  border-radius: 1vw;
  pointer-events: none;
}

.e-overlay {
  bottom: -4vw;
  height: 11.8vw;
  width: 15vw;
  border-left: 0.2vw solid white;
  border-right: 0.2vw solid white;
  border-top-right-radius: 1.2vw;
  border-top-left-radius: 1.8vw;
}

.r-card-overlay {
  bottom: -41%;
  width: 100%;
  height: 80%;
  border-left: 0.1vw solid rgba(255, 255, 255, 0.495);
  border-right: 0.1vw solid rgba(255, 255, 255, 0.46);
  border-top-left-radius: 2vw;
}


.r-card-content,
.s-card-content {
  position: relative;
  top: 4vw;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.r-card-type,
.s-card-tittle {
  font-weight: 500;
  font-size: var(--font-size-18);
  color: white;
}

.s-btn {
  position: relative;
  margin-top: 1vw;
  padding: 1vw 0vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2vw;
  overflow: hidden;
}

.s-details a {
  position: relative;
  margin: 0vw 0vw;
  padding: 0vw 1vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: var(--font-size-19);
  font-weight: 700;
  border: 0.1vw solid rgb(0, 0, 0);
  color: white;
  background-color: #000;
  filter: blur(0px);
  line-height: 0.6vw;
  border-radius: 4vw;
  cursor: pointer;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0, 2.01, .41, 2.01);
  transition-property: font-weight, font-size, line-height, filter;
}

.s-details a:hover {
  filter: blur(0px);
  font-weight: 500;
  font-size: var(--font-size-16);
  line-height: 1vw;
}

.s-details a::after {
  position: absolute;
  top: 80%;
  left: 50%;
  content: "";
  width: 1vw;
  height: 1vw;
  filter: blur(20px);
  border-radius: 50%;
  background-color: white;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, 100%);
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-property: transform, width, height, top, border-radius, filter;
}

.s-details a:hover:after {
  top: 0%;
  width: 100%;
  height: 100%;
  filter: blur(0px);
  border-radius: 2vw;
  transform: translate(-50%, 0%);
}

.s-details button:hover {
  color: black;
  background-color: white;
}

.no-new-event-div {
  position: relative;
  width: 15vw;
  height: 17vw;
  background-image: linear-gradient(163deg, #ff00ff 0%, #3700ff 100%);
  border-radius: 2vw;
  text-align: center;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-property: box-shadow;
  font-family: "Prompt";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.no-new-event {
  position: relative;
  width: 15vw;
  height: 17vw;
  position: absolute;
  top: 0%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-7);
  background-color: #000000;
  box-shadow: 0px 0px 3px rgb(95, 95, 95);
  border-radius: 2vw;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-property: transform, border-radius, height;
  padding: 2vw;
}

.no-new-event-div:hover {
  box-shadow: 0px 0px 30px 1px rgba(204, 0, 255, 0.3);
}

.no-new-event:hover {
  transform: scale(0.99) ;
  border-radius: 18px;
}
