:root {
  --backgroundcolor: #e0e0e0;
  --liquid-color: blue;
  --primary-color: black;
  --secondary-color: #000;

  --font-size-19: 0.7vw;
  --font-size-17: 0.8vw;
  --font-size-16: 0.9vw;
  --font-size-13: 1vw;
  --font-size-3: 1.1vw;
  --font-size-11: 1.2vw;
  --font-size-12: 1.26vw;
  --font-size-10: 1.3vw;
  --font-size-7: 1.5vw;
  --font-size-14: 1.55vw;
  --font-size-18: 1.7vw;
  --font-size-15: 1.8vw;
  --font-size-6: 1.9vw;
  --font-size-1: 2vw;
  --font-size-5: 2.2vw;
  --font-size-8: 2.5vw;
  --font-size-9: 4vw;
  --font-size-2: 5vw;
  --font-size-4: 6vw;


}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}


html {
  scrollbar-width: none;
  overflow-x: hidden;
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--backgroundcolor);
  overflow-x: hidden;
  scrollbar-width: none;
  user-select: none;
}

a {
  text-decoration: none;
}

/* Heropage Styling */

.heropage {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vw;
  padding-top: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: radial-gradient(rgba(1, 35, 139, 0.437), rgba(0, 0, 0, 0.422));
  background-repeat: no-repeat;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  overflow: hidden;
}

.panel {
  position: relative;
  width: 55vw;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  padding-inline: 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1vw;
}

.panel h1 {
  position: relative;
  left: -2%;
  text-align: center;
  font-size: var(--font-size-2);
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 538;
  font-style: normal;
  text-transform: uppercase;
}

.panel h2 {
  font-size: var(--font-size-1);
  font-weight: 120;
  line-height: 1.2;
}

#qbtn {
  position: relative;
  overflow: hidden;
  font-size: var(--font-size-3);
  background-color: whitesmoke;
  border: none;
  color: rgb(27, 27, 27);
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  border-radius: 2vw;
  padding: 0.5vw 2vw;
  cursor: pointer;
  border: 0.1vw solid rgba(245, 245, 245, 0);
  transition: background-color 0.5s ease, font-weight 0.4s ease, color 0.2s ease, border 0.3s ease;
}

#qbtn:hover {
  border: 0.1vw solid whitesmoke;
  color: whitesmoke;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0);
}

.particles {
  transform: translateY(-10%);
  width: 100%;
  height: 120%;
  overflow: hidden;
  position: absolute;
}

.background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  mask-image: radial-gradient(white 0%,
      white 30%,
      transparent 80%,
      transparent);
}

.circle {
  position: absolute;
  border-radius: 50%;
  mix-blend-mode: screen;
  background-image: radial-gradient(hsl(180, 100%, 80%),
      hsl(180, 100%, 80%) 10%,
      hsla(180, 100%, 80%, 0) 56%);
  animation: fade-frames 200ms infinite, scale-frames 2s infinite;
}

@keyframes fade-frames {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale-frames {
  0% {
    transform: scale(0.4);
  }

  50% {
    transform: scale(2.2);
  }

  100% {
    transform: scale(0.4);
  }
}



#hero-svg {
  translate: 0% -15%;
  height: 15vw;
  fill: url(#myGradient);
}

#hero-svg .bubble {
  --dropShadowColor: transparent;
  --fillcolor: white;
  --initialOpacity: 1;
}

/* Quotes Styling */

.quote-wrapper {
  position: relative;
  height: 25vw;
  width: 100vw;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: var(--backgroundcolor);
}

.quotes-container {
  width: 80vw;
  padding: 2vw 0vw 5vw 5vw;
  color: black;
}

.quotes-container::before {
  content: "\201c";
  position: relative;
  top: 0;
  left: 0;
  font-size: var(--font-size-4);
  height: 0vw;
  overflow: hidden;
}

.quote {
  font-size: var(--font-size-1);
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.quote-credit {
  text-align: right;
  font-size: var(--font-size-1);
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
  padding-top: 1vw;
  transform: translateX(4vw);
}

.line {
  position: relative;
}

.line-mask {
  position: absolute;
  top: 0;
  right: 0%;
  width: 100%;
  height: 100%;
  opacity: 0.65;
  background-color: #e0e0e0;
}


/* Image Conatainer */
.gallery-container {
  position: relative;
  background-color: black;
  width: 100vw;
  height: 36vw;
  display: flex;
}

.filter-svg {
  display: none;
}

.dna-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#dna {
  position: relative;
  top: 0;
  left: 5vw;
  width: 15vw;
  height: 35vw;
  -webkit-mask-image: linear-gradient(to bottom, transparent 1%, black 9%, black 94%, transparent 99%);
  mask-image: linear-gradient(to bottom, transparent 5%, black 8%, black 94%, transparent 100%);
}

.phosphate {
  fill: none;
  stroke: #ffffff;
  stroke-width: 8;
  stroke-miterlimit: 10;
}

.sugar {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-miterlimit: 10;
  transition: fill 0.4s ease;
}

.gallery-container h2 {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 10%;
  font-size: var(--font-size-5);
  font-family: "Prompt";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  mix-blend-mode: difference;
}

.image-conatiner {
  position: relative;
  left: 30%;
  width: 60%;
  height: 100%;
  z-index: 1;
  overflow: scroll;
  scrollbar-width: none;
}

.img-grid {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8vw 0vw;
}

.img-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 10vw;
  height: 150%;
  filter: blur(0px);
  overflow: hidden;
  transition: width 0.5s ease;
}

.img-wrapper.active {
  width: 30vw;
}

.img-grid:last-child {
  padding-bottom: 8vw;
}

.img-grid img {
  position: relative;
  width: 30vw;
  object-fit: cover;
  object-position: center;
  transition: filter 0.5s ease;
}

.img-wrapper:last-child.active img:hover {
  filter: blur(1.1px);
}

.img-wrapper:last-child.active:has(.link-to-gallery:hover) img {
  filter: blur(2px);
}

.link-to-gallery {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 65%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  border-radius: 1.5vw;
  padding: 0.5vw 2.6vw;
  font-family: "Poppins";
  font-size: var(--font-size-3);
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border: 0.1vw solid rgb(203, 203, 203);
  background-color: rgba(255, 235, 168, 0.25);
  box-shadow: 0 8px 32px 0 rgba(121, 113, 2, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: top 0.5s ease,
    opacity 0.4s ease,
    border 0.2s ease,
    background-color 0.3s ease,
    box-shadow 0.2s ease,
    font-weight 0.4s ease;
}

.img-wrapper:last-child.active:hover .link-to-gallery {
  top: 60%;
  opacity: 1;
}

.link-to-gallery:hover {
  font-weight: 500;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  border: 0.1vw solid rgba(255, 255, 255, 0.562);
  background-color: rgba(255, 220, 106, 0.25);
  box-shadow: 0 8px 32px 0 rgba(73, 69, 0, 0.37);
}

/* Scrollbar Styles */

.scrollbar {
  position: fixed;
  top: 0vw;
  right: -10vw;
  width: 15vw;
  height: 100vh;
  transform: skew(-10deg);
  pointer-events: none;
}

@media (max-device-width: 600px) {
  .scrollbar {
    display: none;
  }
}

.scrollbar svg {
  position: absolute;
  top: 12vw;
  width: 30%;
  right: 10%;
  fill: var(--secondary-color)
}

.fill,
#chemical {
  fill: var(--liquid-color) !important;
  filter: drop-shadow(0px 0px 3px var(--liquid-color));
}

.testtube {
  filter: url(#gooey);
}

.testtube .bubble {
  width: 100%;
  height: 100%;
  fill: var(--secondary-color);
  opacity: 0;
  transition: all 2s ease
}

.testtube .fill2 {
  fill: blue !important;
  filter: drop-shadow(0px 0px 2px blue);
}

#bubble1 {
  animation: bubbles 5s linear infinite
}

#bubble2 {
  animation: bubbles 5s linear infinite 1s
}

#bubble3 {
  animation: bubbles 5s linear infinite 2s
}

#bubble4 {
  animation: bubbles 5s linear infinite 3s
}

#bubble5 {
  animation: bubbles 5s linear infinite 4s
}

.testtube-container {
  position: relative;
  top: 0;
  left: 0;
  height: fit-content;
  width: 100vw;
  overflow: hidden;
}

.scrollOverlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: 100%;
  pointer-events: none;
}

.scrollOverlay1,
.scrollOverlay2 {
  position: relative;
  left: 0;
  width: 100%;
  mix-blend-mode: difference;
  background-color: white;
}

.scrollOverlay1 {
  top: 0;
  height: 30vw;
}

.scrollOverlay2 {
  top: 25vw;
  height: 40vw;
}



/* Coordinator's Conatiner Styling */

.coordinatorinfo-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}

.blobConatiner {
  display: none;
}

.coordinfo-cards {
  width: 20vw;
  height: 25vw;
  background: rgba(174, 189, 255, 0.25);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.coordinfo-cards:nth-child(1) {
  background: rgba(255, 204, 174, 0.25);
}

.coordinfo-cards:nth-child(3) {
  background: rgba(246, 255, 209, 0.25);
}

.img-circle {
  position: relative;
  top: 30%;
  left: 50%;
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 0.2vw solid white;
  box-shadow: 0px 0px 1vw 1vw rgba(255, 255, 255, 0.535);
  transform: translate(-50%, -50%);
}

.coord-img-div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border: 1px solid white;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 100%;
  box-shadow: 0px 0px 1vw 1vw rgba(255, 255, 255, 0.263);
  border-radius: 50%;
}

.coord-name {
  position: relative;
  top: 25%;
  font-family: "Poppins";
  font-size: var(--font-size-6);
  font-weight: 500;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 3vw rgb(0, 145, 255);
}

.coord-postion {
  position: relative;
  top: 25%;
  font-family: "Poppins";
  font-size: var(--font-size-7);
  font-weight: 300;
  text-align: center;
  color: white;
}

.coordinator-heading {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%);
  font-family: "Poppins";
  font-size: var(--font-size-8);
  font-weight: 600;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 2vw black;
}

.coordinatorinfo-container a {
  position: absolute;
  top: 1vw;
  right: 0.5vw;
  color: rgba(255, 255, 255, 0.814);
  display: flex;
  padding: 0.5vw 2.6vw;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-size: var(--font-size-3);
  font-weight: 300;
  border-radius: 2vw;
  background-color: rgba(63, 105, 134, 0.404);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 0.1vw solid rgba(255, 255, 255, 0.18);
  transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.6s ease, font-weight 0.4s ease;
  display: none;
}

.coordinatorinfo-container a:hover {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.784);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37), 0px 0px 0.1vw rgba(255, 255, 255, 0.784);
  background-color: rgba(38, 71, 94, 0.341);
}

.coordinatorinfo-container a {
  overflow: hidden;
}

.coordinatorinfo-container a .second {
  left: 17%;
}

/* About Section Syling */

.aboutWrapper {
  position: relative;
  top: 5vw;
  left: 0;
  height: 50vw;
  width: 100vw;
  background-color: var(--backgroundcolor);
}

.about {
  position: relative;
  top: 0vw;
  left: 0vw;
  height: 50vw;
  width: 100vw;
  background-color: black;
  clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
  transform: scale(1.4);
}

.about img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.about svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: 25vw;
  fill: #dddddd;
}

.about svg path:nth-child(1) {
  filter: blur(0.5px);
  fill: #eaf1ff;
}

.about svg path:nth-child(2) {
  fill: #7891c4;
  filter: blur(0.7px);
}

.about-content {
  position: absolute;
  top: 20%;
  padding: 5vw;
}

.about h2 {
  text-align: center;
  color: white;
  font-size: var(--font-size-9);
  font-family: "Prompt";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.description {
  position: relative;
  color: white;
  text-align: center;
  line-height: 1.8vw;
  letter-spacing: 0.1vw;
  font-size: var(--font-size-10);
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-shadow: 0px 0px 5vw rgb(0, 122, 198);
}

/* thanks Styling */

.thanks {
  position: relative;
  padding-top: 0.5vw;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #e0e0e0;
}

.thanks-heading {
  position: relative;
  top: 2vw;
  left: 5vw;
  color: rgba(0, 0, 0, 0.828);
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size-10);
  font-weight: 700;
}

.thanks-content {
  position: relative;
  top: 2vw;
  padding: 1.6vw 0vw 10vw 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vw;
  justify-content: space-evenly;
}

.thanks-catogary {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size-11);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.thanks-catogary-name {
  position: relative;
  width: 18vw;
  color: rgba(0, 0, 0, 0.777);
}

.persondiv {
  position: relative;
  width: 60vw;
  color: rgba(35, 35, 35, 0.791);
  font-size: var(--font-size-12);
  font-family: "Prompt";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cursor {
  position: absolute;
  height: 5vw;
  width: 5vw;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-9);
  font-family: "Prompt";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgb(39, 39, 39);
  border-radius: 50%;
  background-color: white;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
}

#gallery-cursor {
  top: 40%;
  left: 10%;
}

#thanks-cursor {
  top: 13%;
  left: 5.5%;
}

/* button Animations Styling */

.second {
  position: absolute;
  left: 0%;
  width: 100%;
  height: 100%;
}

.first {
  position: relative;
  top: 0%;
  width: 100%;
  height: 100%;
}

button.display-btn.active span.second span.word:not(:nth-child(1)) {
  padding-left: 0.3vw;
}
