*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #C3C3C3;
    overflow-x: hidden;
}

a,
li {
    list-style-type: none;
    text-decoration: none;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: #D0D1D2;
}

.background1 {
    position: relative;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
}

.background1 img {
    width: 100%;
    height: 200vh;
    transform: scale(5) translateY(-40%);
    filter: blur(1px);
    object-fit: cover;
    object-position: center;
}

.background2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(195, 195, 195, 0.65);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


h1,
h4,
h5 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
}

h1,
h5 {
    font-size: 1.2rem;
}

.scrollheader h1 {
    font-size: 1rem;
    text-align: center;
}

h4 {
    font-weight: 600;
    text-align: center;
}

.upper-part {
    position: relative;
    margin-block: 4vh 0vh;
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.logo-conatiner {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: black;
    fill: white;
    padding: 1rem;
}

.logo-conatiner svg {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 100%;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 10vh;
    z-index: 1;
}

.link-container a {
    width: 47vw;
    min-width: 300px;
    max-width: 600px;
    border-radius: 3px;
    padding: 1.4vw 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
}

#loadertext {
    position: absolute;
    top: 71%;
    text-transform: none;
}

#loadertext span {
    animation: flicker 2s ease infinite;
}

#loadertext span:nth-child(1) {
    animation-delay: 0s;
}

#loadertext span:nth-child(2) {
    animation-delay: 0.2s;
}

#loadertext span:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.scrollheader {
    position: fixed;
    top: -55%;
    left: 50%;
    transform: translate(-50%);
    width: 47vw;
    min-width: 300px;
    max-width: 600px;
    height: 70px;
    border-radius: 72px;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 13% 10px 20px;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(181, 181, 181, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.scroll-conatiner {
    height: 2.9rem;
    width: 2.9rem;
    border-radius: 50%;
    background-color: black;
    fill: white;
    padding: 0.5rem;
}

.scroll-conatiner svg {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 100%;
}