/* CSS for Qatom */
.qatom {
  position: absolute;
  width: 100vw;
  height: 180vw;
  overflow: hidden;
}

.split {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  pointer-events: none;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.split canvas {
  position: absolute;
  background-color: #000;
  top: 0vh;
  left: 30vw;
  height: 100%;
  width: 100%;
  transform: scale(2);
}

#axesLabelContainer {
  position: absolute;
  left: 0vw;
  top: 0vh;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  color: white;
  font-family: "Prompt";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.floating-div {
  position: absolute;
}

/* Qbtn Styling */
.qmode {
  font-size: var(--font-size-7);
  font-family: "Prompt";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
}

.backbtn {
  position: absolute;
  pointer-events: all;
  top: 5vh;
  left: 3vw;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  filter: blur(10px);
  font-size: inherit;
  font-family: inherit;
  opacity: 0;
}

.backbtn {
  width: 15vw;
  height: auto;
}

.backbtn .backcircle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  border-radius: 2vw;
  width: 3.7vw;
  height: 3.7vw;
  background: #282936;
}

.backbtn .backcircle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.backbtn .backcircle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 2vw;
  width: 1.4vw;
  height: 0.15vw;
  background: none;
}

.backbtn .backcircle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.4vw;
  left: -0.4vw;
  width: 0.9vw;
  height: 0.9vw;
  border-top: 0.2vw solid #fff;
  border-right: 0.2vw solid #fff;
  transform: rotate(-135deg);
}

.backbtn .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  padding: 0.6vw 0;
  margin: 0 0 0 2.6vw;
  color: #28293600;
  font-size: var(--font-size-7);
  font-family: "Prompt";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.backbtn:hover .backcircle {
  width: 100%;
}

.backbtn:hover .backcircle .icon.arrow {
  background: #fff;
  transform: translate(1.2vw, 0);
}

.backbtn:hover .button-text {
  color: #fff;
}

.add-qcontrols {
  --forward: aliceblue;
  --backward: #282936;
  position: absolute;
  pointer-events: all;
  top: 15vh;
  left: 3vw;
  border-radius: 2vw;
  width: 3.7vw;
  height: 3.7vw;
  padding: 1vw;
  opacity: 0;
  filter: blur(10px);
  border: none;
  cursor: pointer;
  background-color: #282936;
  fill: aliceblue;
  transition: width 0.45s cubic-bezier(0.65, 0, 0.076, 1)
}

.add-qcontrols:hover {
  width: 15vw;
}

.add-qcontrols svg {
  position: absolute;
  top: 1.8vw;
  left: 1.9vw;
  transform: translate(-50%, -50%);
  width: 3vw;
  height: auto;
  padding: 0.6vw;
  transition: left 0.45s cubic-bezier(0.65, 0, 0.076, 1)
}

.add-qcontrols:hover svg {
  left: 2.5vw;
}

.add-qcontrols span {
  position: absolute;
  top: 1.8vw;
  left: 8vw;
  transform: translate(-50%, -50%);
  color: transparent;
  transition: color 0.45s cubic-bezier(0.65, 0, 0.076, 1)
}

.add-qcontrols:hover span {
  color: aliceblue;
}

.add-qcontrols line {
  stroke: var(--forward);
  stroke-width: 6.9333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.add-qcontrols .forward {
  fill: var(--forward);
}

.add-qcontrols .backward {
  fill: var(--backward);
}

.add-qcontrols svg circle {
  transition: transform 0.45s cubic-bezier(0.65, 0, 0.076, 1)
}

.add-qcontrols:hover svg circle {
  transform: translate(10%);
}



/* Main div Styling */
.qatomcontroller {
  position: absolute;
  top: 10vh;
  left: 150vw;
  transform: translate(-50%);
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  pointer-events: all;
  border-radius: 3vw;
  backdrop-filter: blur(30px);
  background-color: #28293688;
  border: 0.1vw solid #2829368d;
  overflow: scroll;
  box-shadow: 0 1vw 3vw #28293691;
  padding: 3vw 3vw;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: left, background-color, box-shadow, border, backdrop-filter;
  scrollbar-width: none;
}

/* .qatomcontroller, */
.qatomcontroller.changing {
  background-color: transparent;
  box-shadow: 0 15px 35px #28293600;
  border: 1px solid #28293600;
  backdrop-filter: blur(0px);
}

/* Select Styling */
.choose-option {
  text-align: center;
  font-family: "Manrope";
  font-size: var(--font-size-7);
  margin-block: 0.5vw;
  color: aliceblue;
}

.choose-option.changing {
  color: transparent;
}

.selecter {
  position: relative;
  background-color: #1d1e286e;
  font-family: "Manrope";
  font-size: var(--font-size-13);
  margin: 0.1vw 0.5vw;
  border-radius: 2vw;
  padding: 0.5vw;
  color: aliceblue;
  align-items: center;
  text-align: center;
  box-shadow: 0 1vw 1vw #28293651;
  transition: all 0.3s ease;
}

#sliceChooser {
  margin-top: 1vw;
}

.selecter.changing {
  opacity: 0;
}

.selecter:hover,
.selecter:focus,
.selecter:active {
  padding: 0.4vw 0.7vw;
  border-radius: 2vw;
  border: aliceblue solid 0.1vw;
}

option {
  background-color: #282936;
}

/* breaking line styling */
.breaker-line {
  position: relative;
  top: 0px;
  left: 0px;
  margin-block: 2vw;
  display: block;
  width: 25vw;
  height: 0.1vw;
  background-color: aliceblue;
  transition: all 0.3s ease;
}

.breaker-line.changing {
  opacity: 0;
}

/* button styling  */
.Zdiv {
  display: flex;
  margin: 2vw 0px;
}

.zbtndiv {
  --zbtncolor: red;
  --zbtnboxcolor: blue;
  position: relative;
  width: 10vw;
  margin: 0vw 1vw;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.3);
  border: 0.1vw solid rgba(255, 255, 255, 0.1);
  border-radius: 1vw;
  padding: 0.8vw;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  ;
  transition: all 0.3s ease;
}

.zbtndiv:has(.changing) {
  opacity: 0;
}

.zbtndiv:nth-child(1) {
  --zbtncolor: #2db2ff;
  --zbtnboxcolor: #25ccff;
}

.zbtndiv:nth-child(2) {
  --zbtncolor: #ff1f71;
  --zbtnboxcolor: #ff1f99;
}

.zbtndiv:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.8);
}

.zbtndiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 20%;
  height: 130%;
  border-radius: 1vw;
  transform: translate(-50%, -10%);
  z-index: -1;
  background: var(--zbtncolor);
  box-shadow: 0 0 5px var(--zbtncolor),
    0 0 15px var(--zbtncolor),
    0 0 30px var(--zbtncolor),
    0 0 60px var(--zbtncolor);
  transition: all 0.3s;
}

.zbtndiv:hover::before {
  width: 95%;
  height: 100%;
  background: var(--zbtncolor);
  box-shadow: 0 0 1vw var(--zbtncolor),
    0 0 2.5vw var(--zbtncolor),
    0 0 3.5vw var(--zbtncolor),
    0 0 9vw var(--zbtncolor);
  transform: translate(-50%, 0%);
}

.Zbtn {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  letter-spacing: 0.1vw;
  color: aliceblue;
  font-size: var(--font-size-13);
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
  transition: 0.5s;
}

.Zbtn:hover {
  letter-spacing: 0.2vw;
}

.Zbtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}

.zbtndiv:hover .Zbtn::after {
  transform: skewX(20deg) translate(150%);
  filter: blur(10px);
}

/* Slider styling */
.sliderDiv {
  position: relative;
  height: 2.5vw;
  width: 100%;
  margin: 2vw 0px;
}

.sliderDiv:has(.changing) {
  opacity: 0;
}

.slider {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1vw;
  appearance: none;
  position: relative;
  left: -10%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  transform: translate(30%);
  box-shadow: 0 1.5vw 1.5vw rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1vw;
  width: 1vw;

  background: rgba(255, 255, 255, 0.8);
  box-shadow: -200px 0 0 200px rgba(255, 255, 255, 0.8);
}

.slidertittle {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 70%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.5);
  font-size: var(--font-size-13);
  font-family: "DM Sans", sans-serif;
  z-index: 1;
  letter-spacing: 0.1vw;
  pointer-events: none;
  transition: all 0.3s ease;
}

.sliderDiv:has(.slider:hover) .slidertittle {
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: 0.2vw;
}

.sliderDiv .slidersvg {
  --svgrot: 45deg;
  position: absolute;
  width: 2.5vw;
  top: -10%;
  left: -7%;
  fill: rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease;
}

.sliderDiv:has(.slider:hover) .slidersvg {
  fill: rgba(255, 255, 255, 1);
  transform: rotate(var(--svgrot));
}

/* Slicer Slider Styling */
.SlicerDiv {
  position: absolute;
  top: 110vw;
  left: 50%;
  transform: translate(-50%);
  width: 25vw;
  height: 3vw;
  margin: 1.5vw 0px;
  pointer-events: all;
  border-radius: 3vw;
  box-shadow: 0 1.5vw 1.5vw rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
  transition: top 0.3s ease;
}

.SlicerDiv.working {
  top: 43vw;
}

.Slicecoordinator {
  background-color: transparent;
  border-radius: 3vw;
  appearance: none;
  position: relative;
  top: 50%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  transform: translate(0%, -50%);
  overflow: hidden;
}

.Slicecoordinator::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2.9vw;
  width: 3vw;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
}

.SlicerDiv .slidersvg {
  --svgrot: 45deg;
  --diameter: 3vw;
  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  top: 50%;
  left: 0%;
  padding: 0.4vw;
  border-radius: 50%;
  transform: translate(0px, -50%) rotate(var(--svgrot));
  fill: rgba(255, 255, 255, 0.6);
  border: 0.1vw solid rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
}

.slicerText {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(0px, -50%);
  color: antiquewhite;
}