:root {
    
    --black-text-color: #000;
    --box-shadow: -1.76vh -17px 51px #00000038 17px 17px 34px #ffffffc2,-17px 17px 34px #ffffffc2,#ffffffc2 6px 37px 34px;
    --box-shadow-color1: #bebebe;
    --box-shadow-color2: #fff;
    --box-shadow-color3: #9e9e9e;
    --box-shadow-color4: #00000038;
    --box-shadow-color5: #ffffffc2;
    --box-shadow-color6: #ffffffc2;
    --box-shadow-color7: #00000001;
    --box-shadow-color8: #fff;
    --card-text-color: #000;
    --hover-border-color: none;
    --title-background-color: #e0e0e0;
    --title-background-color-on-hover: #fff;
  }
  
  .dark-mode {

    --black-text-color: #000;
    --box-shadow: -1.76vh -17px 51px #ffffff38 17px 17px 34px #000000c2,-17px 17px 34px #000000c2,#000000c2 6px 37px 34px;
    --box-shadow-color1: #3a3a3a;
    --box-shadow-color2: #000;
    --box-shadow-color3: #3f3f3f;
    --box-shadow-color4: #ffffff38;
    --box-shadow-color5: #000000c2;
    --box-shadow-color6: #000000c2;
    --box-shadow-color7: #ffffff01;
    --box-shadow-color8: #fff;
    --card-text-color: #000;
    --hover-border-color: 1px solid #d1d5db4d;
    --title-background-color: #ffffffd3;
    --title-background-color-on-hover: #fff;
  }
  

  @keyframes bubbles {
    0% {
      /* transform:translateY(3%) translateX(10%) scale(1.0); */
      opacity: var(--initialOpacity);
      filter:blur(2px);
      fill:color-mix(in lab,currentcolor,varvar(--fillcolor) 40%)
      }
    15% {
    transform:translateY(0%) translateX(5%) scale(1.0);
    opacity:1;
    filter:blur(2px);
    fill:color-mix(in lab,currentcolor,var(--fillcolor) 40%)
    }
      
    100% {
    transform:translateY(-10%) translateX(40%) scale(0.0);
    opacity:0;
    fill:var(--fillcolor);
    filter:drop-shadow(0px 0px 15px var(--dropShadowColor)) blur(2px)
    }
    }



@media (min-device-width: 600px) {
    /* Scrollbar Styles */
  .fill {
    fill: blue;
  }
  .scrollbar .bubble {
    --dropShadowColor: var(--transparent-secondary-color);
        --fillcolor: blue;
        --initialOpacity: 0;
  }
  #bubble1 {
  animation:bubbles 5s linear infinite;
  }
  
  #bubble2 {
  animation:bubbles 5s linear infinite 1s
  }
  
  #bubble3 {
  animation:bubbles 5s linear infinite 2s
  }
  
  #bubble4 {
  animation:bubbles 5s linear infinite 3s
  }
  
  #bubble5 {
  animation:bubbles 5s linear infinite 4s
  }

  /* Title Styles */
  
  .tittle {
  position:absolute;
  top:30vh;
  bottom:25vh;
  left: clamp(0px, calc(100vw - 50px), 50px);
  width:44vh;
  height:44vh;
  display:flex;
  justify-content:center;
  border-radius:50%;
  background:var(--title-background-color);
  box-shadow:-2.5vh -2.5vb 2.5vh var(--box-shadow-color1),2.5vh 2.5vb 5vh var(--box-shadow-color2); 
  transition:all .5s ease;
  }
  
  .tittle:hover {
  background-color:var(--title-background-color-on-hover);
  height:42.5vh;
  box-shadow:-2.5vh -2.5vh 5vh var(--box-shadow-color3),2.5vh 2.5vh 5vh var(--box-shadow-color2)
  }

  .tittle svg {
  width:60%;
  height:auto;
  display:flex;
  fill:var(--black-text-color);
  transition:all .5s ease
  }
  
  .tittle svg:hover {
  width:65%
  }  
  
  .tittle :is(#bubble1, #bubble2, #bubble3, #bubble4, #bubble5) {
  opacity:0
  }
  
  /* Tittle animation */
  #branch11 {
    width: 15px;
    height: 105px;
    rx: 10px;
    ry: 10px;
    x: 288px;
    y: 112px;
  }

  #branch22 {
    --x: 390px;
    --y: 270px;
    --deg: -120deg;
    width: 20px;
    height: 105px;
    rx: 10px;
    ry: 10px;
    x: var(--x);
    y: var(--y);
    transform-origin: var(--x) var(--y);
    transform: rotate(var(--deg));
  }
  #branch11, #branch22 {
    animation: fliker 6s  ease alternate infinite;
    opacity: 0;
  }
  @keyframes fliker {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
  }
  #branch1 {
    animation: branch1 3s ease alternate infinite;
    transform-origin: 287px 111px ;
  }
  @keyframes branch1 {
    0% {
      width: 15px;
      height: 20px;
      rx: 10px;
      ry: 10px;
      x: 288px;
      y: 200px;
      transform: rotate(0deg);
     
    }
    
    25% {
      width: 15px;
      height: 105px;
      rx: 10px;
      ry: 10px;
      x: 288px;
      y: 112px;
      transform: rotate(0deg);
    }

    50% {
      width: 15px;
      height: 20px;
      rx: 10px;
      ry: 10px;
      x: 288px;
      y: 112px;
      transform: rotate(0deg);
    }
    60% {
      x: 288px;
      y: 112px;
      transform: rotate(-30deg);
    }
    75% {
      width: 105px;
      height: 15px;
      rx: 10px;
      ry: 10px;
      x: 288px;
      y: 112px;
      transform: rotate(-30deg);
    }
    100% {
      width: 20px;
      height: 20px;
      rx: 10px;
      ry: 10px;
      x: 388px;
      y: 108px;
      transform-origin: 288px 112px ;
      transform: rotate(-30deg);
    }
  }
  #branch02 {
    transform-origin: 385px 155px;
    transform: rotate(-120deg) translateY(-10px);
  }
  #branch2 {
    animation: branch2 3s ease alternate infinite;
    transform-origin: 287px 111px ;
  }
  @keyframes branch2 {
    0% {
      width: 15px;
      height: 20px;
      rx: 10px;
      ry: 10px;
      x: 288px;
      y: 200px;
      transform: rotate(0deg);
     
    }
    
    25% {
      width: 15px;
      height: 105px;
      rx: 10px;
      ry: 10px;
      x: 288px;
      y: 112px;
      transform: rotate(0deg);
    }

    50% {
      width: 15px;
      height: 20px;
      rx: 10px;
      ry: 10px;
      x: 288px;
      y: 112px;
      transform: rotate(0deg);
    }
    60% {
      x: 288px;
      y: 112px;
      transform: rotate(-30deg);
    }
    75% {
      width: 105px;
      height: 15px;
      rx: 10px;
      ry: 10px;
      x: 288px;
      y: 112px;
      transform: rotate(-30deg);
    }
    100% {
      width: 20px;
      height: 20px;
      rx: 10px;
      ry: 10px;
      x: 388px;
      y: 108px;
      transform-origin: 288px 112px ;
      transform: rotate(-30deg);
    }
    
}
}